@page "{id:int?}"
@model DeLaSalle.Ecommerce.WebSite.Pages.ProductCategory.Delete

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10">

            <h2>Delete</h2>
            
            <div class="alert alert-danger" role="alert">
              Are you sure to delete this element?
            </div>

            <form method="post">

                <input type="hidden" asp-for="ProductCategoryDto.Id">
                <div class="form-group">
                    <label asp-for="ProductCategoryDto.Name"></label>
                    <input readonly asp-for="ProductCategoryDto.Name" class="form-control" maxlength="45">
                    <span class="text-danger" asp-validation-for="ProductCategoryDto.Name"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ProductCategoryDto.Description"></label>
                    <input readonly asp-for="ProductCategoryDto.Description" class="form-control" maxlength="100">
                    <span class="text-danger" asp-validation-for="ProductCategoryDto.Description"></span>
                </div>

                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-danger mr-3">Delete</button>
                        <a class="btn btn-secondary" asp-page="/ProductCategory/List">Cancel</a>
                    </div>
                </div>

            </form>

        </div>

        <div class="col-md-1"></div>
    </div>
</div>