@page "{id:int?}"
@model DeLaSalle.Ecommerce.WebSite.Pages.Brand.Edit

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10">

            <h2>Editing</h2>

            <form method="post">

                <input type="hidden" asp-for="BrandDto.Id">
                <div class="form-group">
                    <label asp-for="BrandDto.Name"></label>
                    <input asp-for="BrandDto.Name" class="form-control" maxlength="45">
                    <span class="text-danger" asp-validation-for="BrandDto.Name"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BrandDto.Description"></label>
                    <input asp-for="BrandDto.Description" class="form-control" maxlength="100">
                    <span class="text-danger" asp-validation-for="BrandDto.Description"></span>
                </div>
                
                @if (Model.Errors.Count > 0)
                {
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            @foreach (var error in Model.Errors)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    </div>
                }

                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary mr-3">Save</button>
                        <a class="btn btn-secondary" asp-page="/Brand/List">Cancel</a>
                    </div>
                </div>

            </form>

        </div>

        <div class="col-md-1"></div>
    </div>
</div>